.browser {
    display: flex;
    section {
        padding: 20px;
        border-right: 2px solid #000;
    }
    .deck-list {
        width: 10%;
    }
    .card-list {
        width: 50%;
    }
    .bold-text {
        color: var(--main-color);
    }
    ul {
        list-style: none;
        li {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
    .selected {
        background-color: yellow;
    }
}
